# Flutter/Dart build outputs
build/
.dart_tool/
release/
*.apk
*.aab
*.dill

# Android Gradle
android/gradle/wrapper/dists/
android/.gradle/
android/build/

# iOS
ios/Pods/
ios/.symlinks/

# General
.idea/
*.log 
